/* Box Behavior and Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Elements */
html {
  background-color: cornflowerblue;
}

body {
  width: 600px;
  padding: 6px;
  border: 3px solid blue;
  margin: 6px auto;

  background-color: white;
  color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

img {
  display: block;
  margin: 0px auto;
}

a {
  text-decoration: underline double;
}

a:visited {
  text-decoration-color: rebeccapurple;
}

ul,
ol {
  margin: 3px;
}

ul li,
ol li {
  margin-left: 21px;
}

ul li {
  list-style-type: square;
}

ol li {
  list-style-type: upper-roman;
}

img {
  max-width: 600px;
  object-fit: contain;
}

p {
  margin: 3px;
}

/* Organization Classes */
.page-title,
.section-header {
  color: rebeccapurple;
  font-weight: 600;
}

.page-title {
  margin: 6px;
}

.section-header {
  margin: 9px 3px 3px;
}

.introduction,
.description,
.ingredients,
.steps {
  margin: 6px;
}

/* Information Classes */
.note {
  background-color: lightgreen;
  color: black;
  padding: 6px 6px;
  margin: 6px;
}

.warning {
  background-color: yellow;
  color: black;
  padding: 6px 6px;
  margin: 6px;
}

.recipe-button {
  border: 2px solid black;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 2px 4px;
  margin: 4px auto;
}

.recipe-button a {
  text-decoration: none;
}
